<!DOCTYPE html>
<html lang="en" style="font-family: Arial, Helvetica, sans-serif;">
<head>
    <meta charset = "UTF-8">     
    <button type="button" class="btn">Edit</button>

    <title>Half Girlfriend - By Chetan Bhagat|Prakarti Garg</title>
    <link rel = "icon" href = "/images/logo.png.png">
    <link rel = "stylesheet" href= "/main.css" >
</head>
<body class="gradient-background">
    <h1 style="margin-bottom: 60px;">Prakarti Garg</h1>
    
    
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content%>-L.jpg" alt="Half Girlfriend"></div>
    <h2  style="font-size: 40px;font-weight: lighter;margin-top:0px;">HALF GIRLFRIEND - BY CHETAN BHAGAT</h2>
    <h3 style="color: rgb(91, 82, 82);font-weight:normal;">ISBN: 9788129135728 </h3>
    <h3 style="color: rgb(91, 82, 82);font-weight:normal;">PAPERBACK: 286pages </h3>
    <h3 style="color: rgb(91, 82, 82);font-weight:normal;">HOW STRONGLY I RECOMMEND IT: <strong>8</strong>/10 </h3>
    <p style="font-size: 30px;"><strong>Go To The <a href="https://www.amazon.com/s?k=9788129135728">Amazon Page</a></strong> For Details And Reviews.</p>
    <p style="font-size: 25px;">Excellent book. Madhav and Riya make a good story and it takes new turns when they go on spaceship and explore new intergalactical planetary systems. Book deals nicely with the poverty, terrorism, depression during world war 2 and world political problems. Or may be not, I am just hallucinating. This is a simple book with simple story. Go read it, you will enjoy it.</p>
    <h4 style="font-size: 30px;font-style:unset;">MY NOTES</h4>
    <p style="font-size: 25px;text-align: left;">  Introduction:
        The story begins with Madhav Jha, a rural boy from Bihar, who is struggling to fit in at St. Stephen's College in Delhi. He shares his background and insecurities, particularly about his English skills.<br><br>Meeting Riya:
        Madhav meets Riya Somani, a beautiful and confident girl from a wealthy background. He becomes infatuated with her, but their initial interactions are awkward due to his language barrier.<br><br> Friendship:
        Despite their differences, Madhav and Riya develop a friendship. Riya appreciates Madhav's sincerity, while Madhav admires Riya’s carefree spirit.<br><br> Growing Closer:
        Madhav’s feelings for Riya deepen, and they start spending more time together. He experiences the joys and complexities of first love.<br><br> The Dilemma:
        Madhav confesses his feelings to Riya, but she hesitates, unsure about committing to a serious relationship. This leads to confusion and frustration for Madhav.<br><br>Half Girlfriend:
        Riya proposes a "half-girlfriend" relationship, where they can be close but not fully committed. Madhav struggles with this unconventional arrangement but agrees.<br><br>The College Years:
        As their college life progresses, Madhav and Riya navigate the ups and downs of their half-relationship. Madhav faces challenges due to his background, while Riya deals with family expectations.<br><br>Separation:
        After college, Riya decides to move to the United States for further studies, creating a rift between them. Madhav is heartbroken but tries to support her decision.<br><br>New Beginnings:
        Madhav tries to move on with his life but finds it difficult to forget Riya. He pursues basketball and starts to gain confidence, gradually carving out his own identity.<br><br>Unexpected Reunion:
        Years later, Madhav and Riya cross paths again. Riya is now engaged, leading to feelings of jealousy and regret for Madhav.<br><br>Conflict:
        Madhav confronts Riya about their past. Their emotional exchange forces both of them to confront their true feelings and what they mean to each other.<br><br>Realizations:
        Both characters reflect on their choices and the impact of their relationship on their lives. Madhav realizes he needs to let Riya go for his own happiness.<br><br>Closure:
        In the end, Madhav embraces the lessons learned from his relationship with Riya. He moves forward, finding closure and understanding the value of love, even if it didn’t end the way he hoped.</p>
</body>
</html>